{% extends "base6.html" %}
{% block content %}
<div class="row-md p-4" style="border-radius:3em;border:solid 2px black">
    <h1 style="text-align:center; padding-bottom:1em">CONTACT US</h1>
    <p style="text-align:center;font-weight:600;font-size:2em;">Facing a problem in using smart park website please want to contact us??</p>
    <p style="text-align:center;font-weight:600;font-size:2em;">Try contacting us on email <a href = "mailto: smartpark5436@gmail.com" class="email"><u>smartpark5436@gmail.com</u></a></p>
</div>
{% endblock content %}